// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

a {
  color: $primary;
  @include transition-all;
  &:hover {
    color: darken($primary, .1);
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}
img{max-width: 100%;}
.bg-primary {
  background-color: $primary !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.text-faded {
  color: fade-out($white, .3);
}

section {
  padding: 80px 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0); 
  &:hover{background: rgba(0,0,0,3); }
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.titulo-seccion{
  color:$primary; font-weight: 500;
  font-size: 22px;
  position: relative;
  padding-left: 20px;
  margin-left: 40px;
  &:before{
    content: '';
    position: absolute; top:0; left:0;
    width: 15px;
    height: 100%;
    background-color: $primary;
  }
}
.img-fondo{
  position: relative;
  overflow: hidden;
  & *{z-index: 3; position: relative;}
  .overlay{
    position: absolute; top:0; left:0; width: 100%; height: 100%;
    background-color: rgba(#000, .3);
    z-index: 2;
  }
  .fondo{
    position: absolute; top:50%; left:50%; min-width: 100%; min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    @include transition-all();
  }
  &:hover{
    .fondo{
      transform: translate(-50%, -50%) scale(1.5, 1.5) rotate(15deg);
    }
  }
}
// INICIO
#contador{
  position: relative;
  overflow: hidden;
  color:$white;
  padding: 50px 0;
  .overlay{
    position: absolute; top:0; left:0; width: 100%; height: 100%;
    background-color: rgba(#294634, .9);
    z-index: 2;
  }
  .fondo{
    position: absolute; top:50%; left:50%; min-width: 100%; min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .contenido{position: relative; z-index: 3;}
  @media (max-width: 992px) {
    .contenido{
      text-align: center;
    }
  }
}

#inmueble-perfecto{
  .img-fondo{
    height: 400px;
    span{
      position: absolute; bottom: 40px; left: 40px;
      color:$white; font-size: 26px; font-weight: 700;
    }
  }
}

#news{
  position: relative;
  & > .fondo{
    position: absolute; top:0; left:0;
    width: 100%; height: 50%;
    z-index: -1;
    background-color: $gray-300;
  }
}

#compraVenta{
  .verde{
    background-color: $primary; color:$white;
    text-align: center; padding: 30px;
    h3{text-transform: uppercase; font-size: 22px;}
    a.btn{background-color: $gray-300; &:hover{ background-color: lighten($gray-300, 20%);}}
  }
  .gris{
    background-color: $gray-300; color:$primary;
    text-align: center; padding: 30px;
    h3{text-transform: uppercase; font-size: 22px;}
    
    a.btn{background-color: $primary; color:$white; &:hover{ background-color: lighten($primary, 20%);}}
  }
}
footer{
  .menus{
    background-color: $primary;
    padding: 20px 0;
    .nav-link{
      color:$white;
      &:hover{
        color:lighten($primary,40%);
      }
    }
  }
  .social{
    background-color: $gray-300;
    .nav-link{
      padding: .5rem .8rem;
      color:$primary;
      &:hover{
        color:lighten($primary,40%);
      }
    }
  }
  .copyright{
    padding: 10px 20px;
    p{font-size: 10px; color:$black;}
  }
}
//Internos
#banner-interno{
  height: 350px;
  position: relative;
  overflow: hidden;
  img.img{
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    min-width: 100%; min-height: 100%; max-width: none; 
  }
}
.galeria{
  display: flex; flex-wrap: wrap;
  a{
    flex-basis: 22%;
    max-width: 22%;
    position: relative;
    box-sizing: content-box;
    margin-right: 1%;
    margin-bottom: 10px;
    cursor: pointer;
    &:last-child{margin-right: 0;}
    &:hover:after{
      position: absolute; top: 0; right:0; left:0; bottom:0;
      background: rgba($black, .8); color:$white;
      content: '\f002';
      font-family: 'Font Awesome 5 Free'; font-weight: 900;
      display: flex; justify-content: center; align-items: center;
    }
    @media (max-width: 991px) {
      flex-basis: 48%;
      max-width: 48%;
    }
  }
}