#inmueble{
    padding: 0;
    .tab-main{
        justify-content: center;
        margin-bottom: 0;
        border-bottom:  1px solid $gray-200;
        .nav-link{
            color:$gray-700;
            padding: .8rem 1rem;
            border-top:  1px solid $gray-200;
            border-left:  1px solid $gray-200;
            border-right:  1px solid $gray-200;
            margin-bottom: -1px;
            margin-left: -1px;
            &:hover, &.active{
                background-color: $gray-100;
            }
            @media (max-width: 992px) {
                padding: .8rem .5rem;
            }
        }
    }
    .tab-content{
        background-color: $gray-200;
    }
    .lista{
        .nav{
            height: 250px;
            li{
                padding: 8px 8px  8px 20px;
                position: relative;
                &:before{
                    position: absolute; left:0; top:8px;
                    content: '\f00c'; color:$primary;
                    font-family: 'Font Awesome 5 Free'; font-weight: 900;
                }
            }
        }
    }
}