.emprendimientos-slick{
    .img-fondo{
        display: block;
        height: 100%;
        span{
            position: absolute;
            font-weight: 700; color:$white;
            bottom: 40px; left: 40px;
        }
    }
    .slick-slide{
        height: 400px;
        width: 100vw;
        padding: 0 10px;
        @media (min-width: 992px) {
            &:nth-of-type(odd){
                width: calc(100vw * .7);
            }
            &:nth-of-type(even){
                width: calc(100vw * .3);
            }
        }
    }
    .slick-prev, .slick-next{
        top: -55px;
        border: 1px solid transparent;
        background: transparent;
        &:before{
            content: '';
            position: absolute;
            top:0; left:0;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: .6;
            @include transition-all();
            &:hover{opacity: 1;}
        }
        &:hover:before{opacity: 1;}
    }
    .slick-prev{
        right: 55px;
        left: inherit;
        &:before{
            background-image: url(../img/slick-prev.png);
        }
    }
    .slick-next{
        right: 15px;
        &:before{
            background-image: url(../img/slick-next.png);
        }
    } 
}
.news-slick{
    .img-fondo{
        display: block;
        height: 100%;
        span{
            position: absolute;
            font-weight: 700; color:$white;
            bottom: 40px; left: 40px;
        }
        .hover{
            opacity: 0; color:$white;
            position: absolute; z-index: 5;
            background-color: rgba($black, .7);
            width: 100%; height:100%;
            padding: 80px 30px 30px 30px;
            @include transition-all();
            &:hover{opacity: 1;}
            h4{font-weight: 700;}
        }
    }
    .slick-slide{
        height: 400px;
        margin: 0 10px;
    }
    .slick-prev, .slick-next{
        top: -55px;
        border: 1px solid transparent;
        background: transparent;
        &:before{
            content: '';
            position: absolute;
            top:0; left:0;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: .6;
            @include transition-all();
            &:hover{opacity: 1;}
        }
        &:hover:before{opacity: 1;}
    }
    .slick-prev{
        right: 55px;
        left: inherit;
        &:before{
            background-image: url(../img/slick-prev.png);
        }
    }
    .slick-next{
        right: 15px;
        &:before{
            background-image: url(../img/slick-next.png);
        }
    } 
}