.bg-marron {
  background-color: #294634;
}

.bg-blanco {
  background-color: #fff;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #294634;
}

hr.light {
  border-color: #fff;
}

a {
  color: #294634;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #294634;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

.bg-primary {
  background-color: #294634 !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 80px 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:hover {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.titulo-seccion {
  color: #294634;
  font-weight: 500;
  font-size: 22px;
  position: relative;
  padding-left: 20px;
  margin-left: 40px;
}

.titulo-seccion:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 100%;
  background-color: #294634;
}

.primary {
  color: #294634;
}

.img-fondo {
  position: relative;
  overflow: hidden;
}

.img-fondo * {
  z-index: 3;
  position: relative;
}

.img-fondo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.img-fondo .fondo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.img-fondo:hover .fondo {
  transform: translate(-50%, -50%) scale(1.5, 1.5) rotate(15deg);
}

#contador {
  position: relative;
  overflow: hidden;
  color: #fff;
  padding: 50px 0;
}

#contador .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 70, 52, 0.9);
  z-index: 2;
}

#contador .fondo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#contador .contenido {
  position: relative;
  z-index: 3;
}

@media (max-width: 992px) {
  #contador .contenido {
    text-align: center;
  }
}

#inmueble-perfecto .img-fondo {
  height: 400px;
}

#inmueble-perfecto .img-fondo span {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}

#news {
  position: relative;
}

#news > .fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  background-color: #dee2e6;
}

#compraVenta .verde {
  background-color: #294634;
  color: #fff;
  text-align: center;
  padding: 30px;
}

#compraVenta .verde h3 {
  text-transform: uppercase;
  font-size: 22px;
}

#compraVenta .verde a.btn {
  background-color: #dee2e6;
}

#compraVenta .verde a.btn:hover {
  background-color: white;
}

#compraVenta .gris {
  background-color: #dee2e6;
  color: #294634;
  text-align: center;
  padding: 30px;
}

#compraVenta .gris h3 {
  text-transform: uppercase;
  font-size: 22px;
}

#compraVenta .gris a.btn {
  background-color: #294634;
  color: #fff;
}

#compraVenta .gris a.btn:hover {
  background-color: #4f8664;
}

footer .menus {
  background-color: #294634;
  padding: 20px 0;
}

footer .menus .nav-link {
  color: #fff;
}

footer .menus .nav-link:hover {
  color: #84b797;
}

footer .social {
  background-color: #dee2e6;
}

footer .social .nav-link {
  padding: .5rem .8rem;
  color: #294634;
}

footer .social .nav-link:hover {
  color: #84b797;
}

footer .copyright {
  padding: 10px 20px;
}

footer .copyright p {
  font-size: 10px;
  color: #000;
}

#banner-interno {
  height: 350px;
  position: relative;
  overflow: hidden;
}

#banner-interno img.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  max-width: none;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
}

.galeria a {
  flex-basis: 22%;
  max-width: 22%;
  position: relative;
  box-sizing: content-box;
  margin-right: 1%;
  margin-bottom: 10px;
  cursor: pointer;
}

.galeria a:last-child {
  margin-right: 0;
}

.galeria a:hover:after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  content: '\f002';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .galeria a {
    flex-basis: 48%;
    max-width: 48%;
  }
}

#nosotros {
  background-color: #f8f9fa;
}

#nosotros .team .item {
  height: 325px;
  position: relative;
  overflow: hidden;
  max-width: 300px;
}

#nosotros .team .item .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  z-index: 1;
}

#nosotros .team .item .caption {
  background-color: rgba(41, 70, 52, 0.8);
  position: absolute;
  z-index: 2;
  top: calc(100% - 70px);
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#nosotros .team .item .caption .nombre {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#nosotros .team .item:hover .caption {
  padding: 20px;
  top: 0;
  justify-content: center;
}

#servicios .accordion .card-header {
  padding: 0;
  display: block;
}

#servicios .accordion .card-header a {
  background-color: #294634;
  padding: 15px;
  color: #fff;
  position: relative;
  display: block;
  cursor: pointer;
}

#servicios .accordion .card-header a:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #fff;
  content: '\f067';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

#servicios .accordion .card-header a[aria-expanded="true"]:before {
  content: '\f068';
}

#unite-al-equipo {
  background-image: url(../img/img8.jpg);
  background-size: cover;
  background-position: center center;
  padding: 120px 40px;
}

#unite-al-equipo h3 {
  color: #fff;
}

#unite-al-equipo form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#unite-al-equipo form .form-container {
  padding: 0 8px;
}

#unite-al-equipo form .form-container input {
  color: #fff;
  border: 0px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  width: 300px;
  padding: 10px 0;
}

#unite-al-equipo form .form-container input::placeholder {
  color: #fff;
}

#unite-al-equipo form .form-container input:focus {
  box-shadow: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

#unite-al-equipo form .form-container a {
  color: #fff;
  font-size: 40px;
}

#unite-al-equipo form .form-container a:hover {
  color: #4f8664;
}

header .navigation-header .topbar {
  background-color: #294634;
}

header .navigation-header .topbar .nav-link {
  color: #fff;
}

header .navigation-header .topbar .nav-link:hover {
  color: #84b797;
}

header .navigation-header .topbar .social .nav-link {
  padding: .5rem .5rem;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

header .navigation-header .topbar .social .nav-link:hover {
  transform: scale(1.2, 1.2);
}

header .navigation-header .navigation {
  background-color: rgba(255, 255, 255, 0.77);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
}

header .navigation-header .navigation .logo img {
  max-height: 55px;
}

header .navigation-header .navigation .nav .nav-item {
  padding: 20px 0;
}

header .navigation-header .navigation .nav .nav-link {
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  color: #000;
}

header .navigation-header .navigation .nav .nav-link:hover {
  color: #294634;
  border-bottom: 1px solid #294634;
}

header .navigation-header .navigation .btn-right {
  position: relative;
  padding: 20px;
  margin-left: 20px;
}

header .navigation-header .navigation .btn-right * {
  z-index: 2;
}

header .navigation-header .navigation .btn-right p {
  font-weight: 700;
  color: #294634;
  line-height: 1.2;
}

header .navigation-header .navigation .btn-right:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0px;
  right: -20px;
  bottom: 0;
  transform: skewX(-20deg);
  background-color: #fff;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

header .navigation-header .navigation .btn-right:hover p {
  color: #4f8664;
}

header .navigation-header .navigation .btn-right:hover:after {
  background-color: #e9ecef;
}

header .navigation-header .navigation .desplegable-mega .submenu {
  margin-top: 15px;
  display: none;
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

header .navigation-header .navigation .desplegable-mega .submenu .titulo {
  padding: 15px 20px;
}

header .navigation-header .navigation .desplegable-mega .submenu .titulo a {
  color: #fff;
}

header .navigation-header .navigation .desplegable-mega .submenu .titulo a:hover {
  color: #84b797;
}

header .navigation-header .navigation .desplegable-mega .submenu .caption {
  padding: 15px 20px;
}

header .navigation-header .navigation .desplegable-mega .submenu .caption .nav {
  height: 170px;
  overflow-y: scroll;
}

header .navigation-header .navigation .desplegable-mega .submenu .caption .nav .nav-item {
  padding: 2px 0;
}

header .navigation-header .navigation .desplegable-mega .submenu .caption .nav .nav-item a {
  color: #fff;
}

header .navigation-header .navigation .desplegable-mega .submenu .caption .nav .nav-item a:hover {
  color: #84b797;
}

header .navigation-header .navigation .desplegable-mega .submenu .caption .vermas-arrow span {
  color: #fff;
}

header .navigation-header .navigation .desplegable-mega .submenu .col-12:first-child .titulo {
  background-color: #294634;
}

header .navigation-header .navigation .desplegable-mega .submenu .col-12:nth-child(2) .titulo {
  background-color: #224c14;
}

header .navigation-header .navigation .desplegable-mega .submenu .col-12:nth-child(3) .titulo {
  background-color: #294634;
}

header .navigation-header .navigation .desplegable-mega .submenu .col-12:nth-child(4) .titulo {
  background-color: #224c14;
}

header .navigation-header .navigation .desplegable-mega .submenu .col-12:first-child .caption {
  background-color: #2f6040;
}

header .navigation-header .navigation .desplegable-mega .submenu .col-12:nth-child(2) .caption {
  background-color: #225b0c;
}

header .navigation-header .navigation .desplegable-mega .submenu .col-12:nth-child(3) .caption {
  background-color: #2f6040;
}

header .navigation-header .navigation .desplegable-mega .submenu .col-12:nth-child(4) .caption {
  background-color: #225b0c;
}

header .navigation-header .navigation .desplegable-mega:hover .submenu {
  display: block;
  opacity: 1;
}

header .bars-toggler {
  position: fixed;
  top: 2px;
  right: 2px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  background: #212529;
  padding: 15px 20px;
  border-radius: 3px;
  display: none;
  z-index: 99999;
  color: #fff;
}

header .bars-toggler .fa-bars, header .bars-toggler .fa-times {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .bars-toggler.activo .fa-bars {
  display: none;
}

header .bars-toggler.activo .fa-times {
  display: block;
}

header .bars-toggler .fa-times {
  display: none;
}

@media (max-width: 991px) {
  header .bars-toggler {
    display: block;
  }
  header .navigation-header {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
  }
  header .navigation-header .topbar {
    margin-top: 52px;
    background-color: #000;
    text-align: center;
  }
  header .navigation-header .topbar .menu .nav-link {
    padding: .5rem;
  }
  header .navigation-header .navigation {
    width: 100%;
    height: calc(100% - 132px);
    background-color: transparent;
    overflow-y: scroll;
  }
  header .navigation-header .navigation .container-fluid, header .navigation-header .navigation .row {
    height: 100%;
  }
  header .navigation-header .navigation .logo {
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
  header .navigation-header .navigation .nav {
    width: 100%;
    flex-flow: column;
    text-align: center;
    margin: 0 auto;
  }
  header .navigation-header .navigation .btn-right {
    margin: auto auto 0 auto;
  }
}

.text-primary {
  color: #294634 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 6px 12px;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #294634;
  border-color: #294634;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #203628 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

.btn {
  padding: 8px 15px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.btn2 {
  background-color: #fff;
  color: #294634;
  border: 1px solid #294634;
}

.btn2:hover {
  background-color: #294634;
  color: #fff;
}

#banner {
  padding: 0;
  height: 650px;
  overflow: hidden;
  position: relative;
}

#banner .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
}

#banner .caption {
  position: absolute;
  top: 30%;
  right: 40px;
  z-index: 2;
  text-align: right;
}

#banner .caption h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 1.1;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

@media (max-width: 992px) {
  #banner .caption h2 {
    font-size: 40px;
  }
}

#banner .caption p {
  color: #fff;
  font-size: 22px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

#banner .caption .vermas-arrow {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
}

#banner .caption .vermas-arrow:hover {
  color: #e9ecef;
}

#buscador {
  padding: 0;
  margin-top: -50px;
  position: relative;
  z-index: 2;
}

#buscador .contenido {
  overflow: hidden;
  background-color: #294634;
}

#buscador .contenido .toggle-radio {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #1c3826;
}

#buscador .contenido .toggle-radio * {
  position: relative;
}

#buscador .contenido .toggle-radio input[type="radio"] {
  width: 0;
  height: 0;
  opacity: 0;
}

#buscador .contenido .toggle-radio a {
  text-align: center;
  flex-grow: 1;
  color: #fff;
}

#buscador .contenido .toggle-radio:before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: calc(50% + 20px);
  height: 100%;
  background-color: #294634;
  transform: skewX(-20deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
}

#buscador .contenido .toggle-radio.activo:before {
  left: calc(50%);
}

#buscador .contenido .skew-right {
  position: relative;
}

#buscador .contenido .skew-right:before {
  content: '';
  position: absolute;
  right: -20px;
  width: 50%;
  height: 100%;
  background-color: #1c3826;
  transform: skewX(-20deg);
}

#buscador .contenido select {
  width: 100%;
  padding: 10px 15px;
  background-color: #f2f2f2;
}

#buscador .contenido input[type="submit"] {
  background-color: #1c3826;
  width: 100%;
  border: 0px solid transparent;
  color: #fff;
  font-weight: 700;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#buscador .contenido input[type="submit"]:hover {
  background-color: #fff;
  color: #1c3826;
}

#buscador-interno {
  background-color: #f8f9fa;
  padding: 0;
}

#buscador-interno .desplegable {
  width: 100%;
  background-color: #495057;
  color: #fff;
  padding: 8px;
  border: 0px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

#buscador-interno .desplegable:hover {
  background-color: #868e96;
}

#buscador-interno .desplegable:before {
  position: absolute;
  z-index: 2;
  color: #fff;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f078';
}

#buscador-interno .desplegable[aria-expanded="true"]:before {
  content: '\f077';
}

#buscador-interno .collapse {
  padding: 40px 0;
}

#buscador-interno .orden {
  color: #adb5bd;
  border: 1px solid #adb5bd;
  padding: 10px 15px;
}

#buscador-interno .orden:hover, #buscador-interno .orden.activo {
  color: #294634;
  border: 1px solid #294634;
}

@media (min-width: 992px) {
  #buscador-interno .col-lg-quinto {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

#buscador-interno select {
  width: 100%;
  padding: 10px 15px;
  background-color: #fff;
  border-color: transparent;
}

#buscador-interno input[type="submit"] {
  background-color: #1c3826;
  width: 100%;
  border: 0px solid transparent;
  color: #fff;
  font-weight: 700;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#buscador-interno input[type="submit"]:hover {
  background-color: #dee2e6;
  color: #1c3826;
}

#buscador-interno .rangoSlider .ui-widget-header {
  background-color: #294634;
}

#buscador-interno .rangoSlider .ui-slider-horizontal {
  height: 1px;
  border: 1px solid #294634;
  margin-top: 5px;
}

#buscador-interno .rangoSlider .ui-slider-handle {
  border-radius: 50px;
  border: 1px solid #294634;
  background-color: #294634;
  margin-top: -4px;
}

.emprendimientos-slick .img-fondo {
  display: block;
  height: 100%;
}

.emprendimientos-slick .img-fondo span {
  position: absolute;
  font-weight: 700;
  color: #fff;
  bottom: 40px;
  left: 40px;
}

.emprendimientos-slick .slick-slide {
  height: 400px;
  width: 100vw;
  padding: 0 10px;
}

@media (min-width: 992px) {
  .emprendimientos-slick .slick-slide:nth-of-type(odd) {
    width: calc(100vw * .7);
  }
  .emprendimientos-slick .slick-slide:nth-of-type(even) {
    width: calc(100vw * .3);
  }
}

.emprendimientos-slick .slick-prev, .emprendimientos-slick .slick-next {
  top: -55px;
  border: 1px solid transparent;
  background: transparent;
}

.emprendimientos-slick .slick-prev:before, .emprendimientos-slick .slick-next:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.emprendimientos-slick .slick-prev:before:hover, .emprendimientos-slick .slick-next:before:hover {
  opacity: 1;
}

.emprendimientos-slick .slick-prev:hover:before, .emprendimientos-slick .slick-next:hover:before {
  opacity: 1;
}

.emprendimientos-slick .slick-prev {
  right: 55px;
  left: inherit;
}

.emprendimientos-slick .slick-prev:before {
  background-image: url(../img/slick-prev.png);
}

.emprendimientos-slick .slick-next {
  right: 15px;
}

.emprendimientos-slick .slick-next:before {
  background-image: url(../img/slick-next.png);
}

.news-slick .img-fondo {
  display: block;
  height: 100%;
}

.news-slick .img-fondo span {
  position: absolute;
  font-weight: 700;
  color: #fff;
  bottom: 40px;
  left: 40px;
}

.news-slick .img-fondo .hover {
  opacity: 0;
  color: #fff;
  position: absolute;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  padding: 80px 30px 30px 30px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.news-slick .img-fondo .hover:hover {
  opacity: 1;
}

.news-slick .img-fondo .hover h4 {
  font-weight: 700;
}

.news-slick .slick-slide {
  height: 400px;
  margin: 0 10px;
}

.news-slick .slick-prev, .news-slick .slick-next {
  top: -55px;
  border: 1px solid transparent;
  background: transparent;
}

.news-slick .slick-prev:before, .news-slick .slick-next:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.news-slick .slick-prev:before:hover, .news-slick .slick-next:before:hover {
  opacity: 1;
}

.news-slick .slick-prev:hover:before, .news-slick .slick-next:hover:before {
  opacity: 1;
}

.news-slick .slick-prev {
  right: 55px;
  left: inherit;
}

.news-slick .slick-prev:before {
  background-image: url(../img/slick-prev.png);
}

.news-slick .slick-next {
  right: 15px;
}

.news-slick .slick-next:before {
  background-image: url(../img/slick-next.png);
}

#inmuebles-list .item {
  border: 1px solid #dee2e6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#inmuebles-list .item:hover {
  border: 1px solid #294634;
}

#inmuebles-list .item:hover .caption .foot {
  border-top: 1px solid #294634;
}

#inmuebles-list .item:hover .caption .foot .link {
  border-right: 1px solid #294634;
}

#inmuebles-list .item .imagen {
  position: relative;
  height: 280px;
  overflow: hidden;
}

#inmuebles-list .item .imagen img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  max-width: none;
}

#inmuebles-list .item .imagen .foot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

#inmuebles-list .item .imagen .foot .tipo {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  flex-grow: 1;
  margin-bottom: 0;
}

#inmuebles-list .item .imagen .foot .precio {
  padding: 10px;
  background-color: #294634;
  margin-bottom: 0;
}

@media (max-width: 992px) {
  #inmuebles-list .item .imagen {
    height: 320px;
  }
}

#inmuebles-list .item .caption .titulo {
  padding: 30px 10px;
}

#inmuebles-list .item .caption .titulo h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

#inmuebles-list .item .caption .titulo p {
  color: #868e96;
  margin-bottom: 0;
}

#inmuebles-list .item .caption .features {
  font-size: 12px;
  color: #868e96;
  padding: 0 10px 20px 10px;
}

#inmuebles-list .item .caption .foot {
  display: flex;
  border-top: 1px solid #ced4da;
}

#inmuebles-list .item .caption .foot .link {
  padding: 10px;
  border-right: 1px solid #ced4da;
  text-transform: uppercase;
  flex-grow: 1;
  color: #868e96;
  font-weight: 600;
}

#inmuebles-list .item .caption .foot .link:hover {
  color: #294634;
}

#inmuebles-list .item .caption .foot .share {
  padding: 10px 15px;
  color: #868e96;
}

#inmuebles-list .item .caption .foot .share:hover {
  color: #294634;
}

#inmuebles-list .navegador a {
  font-size: 20px;
  color: #868e96;
}

#inmuebles-list .navegador a:hover {
  color: #294634;
}

#inmueble {
  padding: 0;
}

#inmueble .tab-main {
  justify-content: center;
  margin-bottom: 0;
  border-bottom: 1px solid #e9ecef;
}

#inmueble .tab-main .nav-link {
  color: #495057;
  padding: .8rem 1rem;
  border-top: 1px solid #e9ecef;
  border-left: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
  margin-bottom: -1px;
  margin-left: -1px;
}

#inmueble .tab-main .nav-link:hover, #inmueble .tab-main .nav-link.active {
  background-color: #f8f9fa;
}

@media (max-width: 992px) {
  #inmueble .tab-main .nav-link {
    padding: .8rem .5rem;
  }
}

#inmueble .tab-content {
  background-color: #e9ecef;
}

#inmueble .lista .nav {
  height: 250px;
}

#inmueble .lista .nav li {
  padding: 8px 8px  8px 20px;
  position: relative;
}

#inmueble .lista .nav li:before {
  position: absolute;
  left: 0;
  top: 8px;
  content: '\f00c';
  color: #294634;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

@media (max-width: 991px) {
  #inmueble .lista .nav {
    height: auto;
  }
}

#inmueble .sidebar {
  background-color: #fff;
  padding: 20px;
  align-self: flex-start;
  border-radius: 8px;
}

#inmueble .sidebar h3 {
  margin-bottom: 20px;
  font-weight: 700;
}

#inmueble .sidebar .features {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dee2e6;
  color: #868e96;
}

#inmueble .sidebar .person img {
  margin: 0 auto;
  border-radius: 60px;
}

#inmueble .sidebar .person .nombre {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

#inmueble .sidebar .person .nombre span {
  font-size: 14px;
  color: #868e96;
}

#inmueble .sidebar form {
  padding-top: 30px;
}

#inmueble .sidebar form h4 {
  color: #294634;
  font-size: 20px;
  font-weight: 700;
}

#inmueble .sidebar form input {
  border: 1px solid #868e96;
  color: #495057;
  padding: 10px 15px;
  width: 100%;
}

#inmueble .sidebar form input[type="submit"] {
  text-align: center;
  font-weight: 700;
  color: #fff;
  border: 1px solid #294634;
  background-color: #294634;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#inmueble .sidebar form input[type="submit"]:hover {
  background-color: #4f8664;
}

#inmueble .sidebar form .btn {
  width: 100%;
  padding: 10px 15px;
}

#inmueble .sidebar form .share {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#inmueble .sidebar form .share a {
  padding: 0 8px;
}

#contact {
  position: relative;
  padding: 0;
}

#contact .mapa {
  height: 800px;
  width: 100%;
}

#contact .sidebar {
  width: 360px;
  position: absolute;
  bottom: 20px;
  right: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

#contact .sidebar h4 {
  color: #294634;
  font-size: 18px;
  font-weight: 700;
}

#contact .sidebar form {
  padding-top: 30px;
}

#contact .sidebar form input {
  border: 1px solid #868e96;
  color: #495057;
  padding: 10px 15px;
  width: 100%;
}

#contact .sidebar form input[type="submit"] {
  text-align: center;
  font-weight: 700;
  color: #fff;
  border: 1px solid #294634;
  background-color: #294634;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#contact .sidebar form input[type="submit"]:hover {
  background-color: #4f8664;
}

#contact .sidebar form .btn {
  width: 100%;
  padding: 10px 15px;
}

#contact .sidebar form .share {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact .sidebar form .share a {
  padding: 0 8px;
}

@media (max-width: 991px) {
  #contact .sidebar {
    position: relative;
    width: 100%;
    top: 0;
    bottom: initial;
    right: initial;
    text-align: center;
  }
}
